h1 {
  /* background-color: red; */
  text-align: center;
}
form {
  margin: 0 auto;
  width: 250px;
}
.box-right {
  display: inline;
}

.wufoo {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
}

.body-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  font-size: 0.8rem;
}
